.textbook {
  margin: 0 auto 3rem;
  .title {
    margin: 0 auto 2rem;
  }
  .groups {
    max-width: 1200px;
    margin: 0 auto 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, 350px);
    grid-gap: 60px;
    justify-content: center;
  }

  .yellow {
    background-color: #fdffa5;
    &:hover {
      background-color: #fafd59;
    }
  }
  .green {
    background-color: #bdffbc;
    &:hover {
      background-color: #83ec82;
    }
  }
  .blue {
    background-color: #b1fff6;
    &:hover {
      background-color: #3affe8;
    }
  }
  .red {
    background-color: #ffc7ad;
    &:hover {
      background-color: #ff9b6c;
    }
  }
  .purple {
    background-color: #ffcfe5;
    &:hover {
      background-color: #ff8ac0;
    }
  }
  .violet {
    background-color: #caa1f1;
    &:hover {
      background-color: #9869c5;
    }
  }

  .yellow,
  .green,
  .red,
  .purple,
  .blue,
  .violet {
    width: 350px;
    height: 220px;
    text-decoration: none;
    outline: none;
    color: #000;
    border: 1px solid #000;
    transition: all 0.3s ease;

    .group-title {
      font-size: 16px;
      line-height: 21px;
      text-align: left;
      margin-top: 10px;
      margin-left: 15px;
      margin-bottom: 2px;
      user-select: none;
    }

    .group-img {
      float: right;
    }
  }
}
