.spinner {
  margin: 35vh 0;
}
.yellow {
  background-color: #fdff95;
}
.green {
  background-color: #b5ffb4;
}
.blue {
  background-color: #a6fff5;
}
.red {
  background-color: #ffb5d8;
}
.yellow:hover {
  background-color: #fafd59;
}
.green:hover {
  background-color: #7bfa79;
}
.blue:hover {
  background-color: #5effec;
}
.red:hover {
  background-color: #ff86bf;
}
.yellow,
.green,
.blue,
.red {
  padding: 5rem 2rem;
  margin-bottom: 2rem;
  position: relative;
  border: 1px solid #000;
  transition: all 0.3s ease;
}
.play_img {
  max-width: 35px;
  margin: 0 auto;
}
.play_img:focus {
  outline: none;
}
.play_img img {
  cursor: pointer;
}
.play_img:hover {
  transform: scale(1.1);
}
.bold {
  font-size: 1.25rem;
  font-weight: 600;
}
.margin {
  margin: 0 auto 2rem;
}
.game {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50%;
  background: red;
}
.item {
  margin: 1rem 0;
}
