.margin {
  margin: 3rem auto 1rem;
}
.groups {
  display: grid;
  grid-template-columns: repeat(auto-fill, 350px);
  grid-gap: 1rem;
  justify-content: center;
  margin-bottom: 2rem;
}
.groupCard {
  color: #000;
}
.groupCard:hover {
  text-decoration: none;
  outline: none;
  color: #000;
}

.groupTitle {
  font-size: 1rem;
  line-height: 21px;
  text-align: center;
  margin: 1rem auto;
  user-select: none;
}
@media (max-width: 550px) {
  .margin {
    margin: 2rem auto 1rem;
  }
}
