.background {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  opacity: 0.55;
  position: relative;
}
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.gameName {
  display: flex;
  align-items: center;
  justify-content: center;

  h2 {
    font-size: 45px;
    color: rgb(67, 67, 67);
    @media (max-width: 550px) {
      font-size: 30px;
      color: #000;
    }
  }

  :first-child {
    border-right: 1px solid #000;
    padding-right: 20px;
  }

  :last-child {
    border-left: 1px solid #000;
    padding-left: 20px;
  }
}

.description {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 18px;
  margin: 15px 0;
  span {
    width: 70%;
  }
}

.startBtn {
  margin: 15px;
  width: 150px;
}
