.text {
  color: #000;
  font-weight: 700;
  border-bottom: 1.5px solid #000;
}
.color {
  color: #888;
  font-weight: 400;
}
.word {
  flex: 1 1 19%;
  padding: 1rem 0;
}
@media (max-width: 992px) {
  .word {
    flex: 1 1 50%;
  }
}
@media (max-width: 400px) {
  .word {
    flex: 1 1 100%;
  }
}
.button,
.button:active,
.button:hover {
  outline: none;
}
