.group-page {
  .yellow {
    background-color: #fdffa5;
  }
  .green {
    background-color: #bdffbc;
  }
  .blue {
    background-color: #b1fff6;
  }
  .red {
    background-color: #ffc7ad;
  }
  .purple {
    background-color: #ffcfe5;
  }
  .violet {
    background-color: #caa1f1;
  }

  .cards {
    text-align: left;
    margin: 30px auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 425px);
    grid-gap: 70px 50px;
    justify-content: center;
  }

  .game {
    font-size: 1.1rem;
    font-weight: 600;
    margin: 3rem auto;
    cursor: pointer;
    color: #000;
  }
  .game:hover {
    text-decoration: underline;
  }

  h3 {
    font-size: 18px;
    line-height: 66px;
  }

  .card-img {
    width: 170px;
  }

  p {
    margin-bottom: 0;
  }

  .btn {
    white-space: nowrap;
    font-size: 14px;
  }

  .row {
    margin-bottom: 10px;
  }

  .row.middle {
    height: 240px;

    .col {
      align-items: center;
    }
  }

  .page-number {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 40px;
    user-select: none;
  }
}
