.container {
  padding: 2rem 4rem;
}
.left {
  display: flex;
  justify-content: flex-start;
}
.right {
  display: flex;
  justify-content: flex-end;
}
.logo,
.img {
  cursor: pointer;
}
.img:hover,
.img:active,
.img:focus {
  transform: scale(1.1);
  outline: none;
}
@media (max-width: 700px) {
  .container {
    padding: 2rem 0.5rem;
  }
  .logo {
    width: 35px;
  }
}
