@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sprinter {
  width: 100vw;
  height: 100vh;
  position: relative;
}
.container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

.info {
  width: 100%;
  height: 30%;

  .score {
    @include flex-center;
    flex-direction: column;
    width: 100%;
    height: 90%;
    font-size: 1.7em;
    .value {
      font-size: 1.8em;
    }
  }
  .multipilier {
    font-size: 1.4em;
  }

  .visualTimer {
    min-height: 15px;
  }
}

.content {
  @include flex-center;
  justify-content: space-around;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  height: 70%;

  .pointsWords {
    width: 100%;
    height: 20%;

    img {
      height: 100px;
    }
  }

  .word {
    @include flex-center;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    height: 20%;

    .enWord {
      font-size: 1.7em;
    }
    .ruWord {
      font-size: 1.4em;
    }
  }
}

.header {
  position: absolute;
  right: 10px;
  top: 5px;
}

.ruWordNoVisible {
  opacity: 0 !important;
}
.ruWordVisible {
  opacity: 1 !important;
  transition: all 0.5s;
}

@keyframes opacityToggle {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

.iconWord {
  @include flex-center;
  height: 10%;

  .iconTrue {
    width: 30px;
    height: 30px;
    color: green;
  }
  .iconFalse {
    width: 30px;
    height: 30px;
    color: red;
  }
}
.iconNoVisible {
  opacity: 0 !important;
  transition: all 0.5s;
}
.iconVisible {
  opacity: 1 !important;
  transition: all 0.5s;
}
.active {
  opacity: 1;
  color: blue;
}

.answerBtn {
  @include flex-center;
  height: 20%;
  width: 100%;
  position: relative;
  .button {
    width: 125px !important;
    margin: 0 25px;
  }
}

.buttonFullScreen {
  position: absolute;
  right: 5px;
  bottom: 5px;
  width: 25px;
  height: 25px;
}

.description {
  width: 80%;
  opacity: 0.6;
  transition: all 0.5s;
}

.description:hover {
  opacity: 1;
  transition: all 0.5s;
}

.header {
  width: 100%;
}
