.gameField:focus {
  outline: none;
  cursor: default;
}
.gameField:fullscreen {
  width: 100vw;
  height: 100vh;
}

.game {
  width: 100vw;
  height: 100vh;
}

.gameField {
  width: 100%;
  height: 100vh;
}
.container {
  padding: 0 3rem 3rem;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.currentWord {
  color: #000;
  font-size: 25px;
  font-weight: 700;
}

.heightWordImg {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 25px;
  height: 150px;
}
.heightImg {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 15px;
  height: 150px;
}
.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
}
.right {
  width: 100%;
}
.left {
  text-align: end;
  margin-bottom: 2rem;
}
.words {
  margin: 2rem auto;
  max-width: 80%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  color: #000;
  font-size: 20px;
  font-weight: 700;
}
.img {
  cursor: pointer;
}
.img:hover {
  transform: scale(1.05);
}

.description {
  width: 70%;
  opacity: 0.6;
  transition: all 0.5s;
  &:hover {
    opacity: 1;
    transition: all 0.5s;
  }
}

.currentWord {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

@media (max-width: 1200px) {
  .words {
    max-width: 100%;
  }
}
@media (max-width: 991px) {
  .container {
    padding: 1rem;
  }
}
@media (max-width: 800px) {
  .words {
    margin: 1rem 0;
  }
  .description {
    width: 100%;
  }
}
@media (max-height: 767px) {
  .root {
    height: 1000px;
  }
}
@media (max-width: 575px) {
  .left,
  .right {
    text-align: center;
  }
  .heightWordImg {
    width: 100%;
  }
}

.wordCorrectly {
  color: black;
  // text-shadow: 0 0 20px rgba(0, 0, 0);
  transition: all 0.7s;
}

.wordNoCorrectly {
  color: transparent;
  text-shadow: 0 0 20px rgb(0, 0, 0);
  transition: all 0.1s;
}
