
.green {
  background-color: #b5ffb4;
}
.blue {
  background-color: #a6fff5;
}
.red {
  background-color: #ffb5d8;
}
.container {
  padding: 2rem;
}
.left {
  display: flex;
  justify-content: flex-start;
  font-size: 30px
}
.right {
  display: flex;
  justify-content: flex-end;
  font-size: 30px
}
.center {
  display: flex;
}
.img {
  width: 50px;
  color: #000;
  cursor: pointer;
}
.img:hover,
.img:active,
.img:focus {
  transform: scale(1.1);
  outline: none;
}
