@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url(./assets/fonts/Roboto-Regular.ttf) format('truetype');
}

body{
  /* background-image: url('https://i.pinimg.com/originals/2b/e8/94/2be89474c58d30d0464fa36ce4e61e5b.png'); */
  background-repeat: no-repeat;
  background-size: cover;
}

.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

h3 {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

@media (max-width: 800px) {
  .recharts-text.recharts-cartesian-axis-tick-value[text-anchor='middle'] {
    transform: rotate(90deg) translate(64px, -12px);
    transform-origin: 50% 0%;
    transform-box: fill-box;
  }
}
rect.recharts-brush-slide {
  fill: rgb(255, 186, 186);
}