.yellow {
  background-color: #fdff95;
}
.green {
  background-color: #b5ffb4;
}
.blue {
  background-color: #a6fff5;
}
.red {
  background-color: #ffb5d8;
}
.container {
  padding: 2rem;
}
.left {
  display: flex;
  justify-content: flex-start;
}
.right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.center {
  display: flex;
  align-items: center;
}
.img {
  width: 20px;
  cursor: pointer;
}
.img:hover,
.img:active,
.img:focus {
  transform: scale(1.1);
  outline: none;
}
